.match_board_render
{
  position: relative;
  background-color: #e4e4e4;
}
.match_stone
{
  transition: top 1s ease-in-out, left 1s ease-in-out, background-color 1s ease-in-out, opacity 1s linear;
}
#match_current_points
{

}
.data_span
{
  font-weight: bold;
}