.shape_board_render
{
  position: relative;
}
.shape_variant
{
  position: relative;
  border: 1px gray solid;
}
.stone
{
  position: absolute;
  margin: 2px;
  width: 44px;
  height: 44px;
  background-color: black;
  color: #bbbbbb;
  text-align: center;
}
